// GENERAL PARAMETER
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
<<<<<<< HEAD

h1,
h2,
h3 {
  color: #414141;
}

@import "./song";
@import "./player";
=======
>>>>>>> 18382129c7d5a0123fa20450b0d2dd3feb0e726c
